.appMount-3VJmYg {animation: background 60s infinite linear ;}

@keyframes background {
  0% {background-image: var(--ani);background-size:cover;transition: linear ;}
  5% {background-image: var(--ani);background-size:cover;transition: linear ;}
  10% {background-image: var(--ani);background-size:cover;transition: linear ;}
  15% {background-image: var(--ani);background-size:cover;transition: linear ;}
  20% {background-image: var(--ani);background-size:cover;transition: linear ;}
  25% {background-image: var(--ani);background-size:cover;transition: linear ;}
  30% {background-image: var(--ani);background-size:cover;transition: linear ;}
  35% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  40% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  45% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  50% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  55% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  60% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  65% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  70% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  75% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  80% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  85% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  90% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  95% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  100% {background-image: var(--ani3);background-size:cover;transition: linear ;}
}

@keyframes background2 {
  0% {background-image: var(--ani);background-size:cover;transition: linear ;}
  10% {background-image: var(--ani);background-size:cover;transition: linear ;}
  20% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  30% {background-image: var(--ani2);background-size:cover;transition: linear ;}
  40% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  50% {background-image: var(--ani3);background-size:cover;transition: linear ;}
  60% {background-image: var(--ani4);background-size:cover;transition: linear ;}
  70% {background-image: var(--ani4);background-size:cover;transition: linear ;}
  80% {background-image: var(--ani5);background-size:cover;transition: linear ;}
  90% {background-image: var(--ani5);background-size:cover;transition: linear ;}
  100% {background-image: var(--ani6);background-size:cover;transition: linear ;}
}



#friends,.chat, .account,.titleBar-AC4pGV::after,
.typing,.content,.channels-wrap,.friends-table,
.container-2Thooq,.container-RYiLUQ, .guilds-wrapper,
.guild-channels,.guilds-wrapper .guilds,.guilds-wrapper .scroller-wrap,
.theme-dark .typing-2GQL18,.guild-header header, .private-channels, 
.private-channels .search-bar,.title-wrap:not(.search-bar), 
.messages-wrapper, .messages .divider span, .messages .divider:before, 
.content, .message-group-blocked, .is-local-bot-message,.channel-members-loading, 
.channel-members-loading .heading, .channel-members-loading .member, 
.theme-dark .ui-standard-sidebar-view, .theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view .content-region,.theme-dark .channel-members,
.container-2OU7Cz,.container-iksrDt,.container-3lnMWU,.theme-dark .chat form, 
.channels-3g2vYe,.titleBar-AC4pGV::after,.theme-dark .messages-wrapper, 
.content .flex-spacer, .theme-dark .chat>.content, .theme-dark .chat, 
.channel-members,.titleWrapper-1l0xT9 .title-3qD0b-, 
.search .search-bar, .theme-dark .title-qAcLxz,
.noChannel-Z1DQK7, .activityFeed-HeiGwL, .lfg-3xoFkI, .app, 
.layers-3iHuyZ, .layer-3QrUeG, .guilds-wrapper, 
.container-2lgZY8, .content-region, .search-l1Wz-Q .search-bar, 
.chat .inner-zqa7da,.search-results-wrap, .search-results-wrap 
.search-header, .search-results-wrap .search-result-message.hit, 
.sidebar-region, .ui-standard-sidebar-view, .container-2Thooq,
.theme-dark .topSectionNormal-2-vo2m,.channels-Ie2l6A,
.container-PNkimc,.loading-316uYQ, .chat .content, .chat form, 
.chat, .content .flex-spacer, .messages-wrapper, .typing-2GQL18,
.headerPlaying-j0WQBV,.headerBar-UHpsPw,.search-results-wrap .search-result::before, 
.search-results-wrap .search-result::after, .search-results-wrap .channel-name,
.theme-dark .members-1998pB {background: rgba(0, 0, 0, 0.15) !important;}
.titleBar-AC4pGV::after {
	content:"" ;position:absolute;
	z-index:-1;top:0; left:0; right:0; width:100%; height:22px; 
 	background: rgba(0, 0, 0, 0.62) !important;}
