#app-mount .statusProfile-3ynqtt.status-oxiHuE {
    width:96%;height: 96%;right:-2px;
    bottom:-2px;padding:2px;margin: 0}
#app-mount .listRow-hutiT_ .status-oxiHuE, #app-mount .card-7JP0BX .status-oxiHuE {
    width:91%;height: 91%;
    border-radius: var(--round);right: -2px;
    bottom:-2px;padding:2px;margin: 0}
#app-mount .autocompleteRow-2OthDa .status-oxiHuE{
    width:82% ;height: 82%;border-radius: var(--round);
    right: -2px;bottom: -2px;padding: 2px}
#app-mount .members-1998pB .content-OzHfo4 .status-2s6iDp,#app-mount .container-2Thooq .status-2kJpnA,
#app-mount .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp,#app-mount .private-channels .status {
    border-radius: var(--round);background-clip: padding-box;
    bottom: -1px;right: -1px;height: 28px;width: 28px}

#app-mount .autocompleteRow-2OthDa .online-2S838R, 
#app-mount .listRow-hutiT_ .online-2S838R,
#app-mount .card-7JP0BX .online-2S838R,
#app-mount .statusProfile-3ynqtt.online-2S838R,
#app-mount .private-channels .online-2S838R, 
#app-mount .container-2Thooq .online-2S838R,
#app-mount .members-1998pB .content-OzHfo4 .online-2S838R {background-color: transparent;border:2px solid #43b581}

#app-mount .autocompleteRow-2OthDa .streaming-2_dnHe, 
#app-mount .listRow-hutiT_ .streaming-2_dnHe,
#app-mount .card-7JP0BX .streaming-2_dnHe,
#app-mount .statusProfile-3ynqtt.streaming-2_dnHe,
#app-mount .private-channels .streaming-2_dnHe,
#app-mount .container-2Thooq .streaming-2_dnHe,
#app-mount .members-1998pB .content-OzHfo4 .streaming-2_dnHe {background-color: transparent;border: 2px solid #593695}

#app-mount .autocompleteRow-2OthDa .dnd-1_xrcq, 
#app-mount .listRow-hutiT_ .dnd-1_xrcq,
#app-mount .card-7JP0BX .dnd-1_xrcq,
#app-mount .statusProfile-3ynqtt.dnd-1_xrcq,
#app-mount .private-channels .dnd-1_xrcq,
#app-mount .container-2Thooq .dnd-1_xrcq,
#app-mount .members-1998pB .content-OzHfo4 .dnd-1_xrcq {background-color: transparent;border:2px solid #f04747}

#app-mount .autocompleteRow-2OthDa .idle-3DEnRT, 
#app-mount .listRow-hutiT_ .idle-3DEnRT,
#app-mount .card-7JP0BX .idle-3DEnRT,
#app-mount .statusProfile-3ynqtt.idle-3DEnRT,
#app-mount .private-channels .idle-3DEnRT,
#app-mount .container-2Thooq .idle-3DEnRT,
#app-mount .members-1998pB .content-OzHfo4 .idle-3DEnRT {background-color: transparent;border:2px solid #faa61a}

#app-mount .autocompleteRow-2OthDa .invisible-1kp8Z0, 
#app-mount .listRow-hutiT_ .invisible-1kp8Z0,
#app-mount .card-7JP0BX .invisible-1kp8Z0,
#app-mount .statusProfile-3ynqtt.invisible-1kp8Z0,
#app-mount .private-channels .invisible-1kp8Z0,
#app-mount .container-2Thooq .invisible-1kp8Z0,
#app-mount .members-1998pB .content-OzHfo4 .invisible-1kp8Z0{background-color: transparent;border:2px solid #1a36fa}

#app-mount .autocompleteRow-2OthDa .offline-3qoTek, 
#app-mount .listRow-hutiT_ .offline-3qoTek, 
#app-mount .card-7JP0BX .offline-3qoTek, 
#app-mount .statusProfile-3ynqtt.offline-3qoTek, 
#app-mount .private-channels .offline-3qoTek, 
#app-mount .container-2Thooq .offline-3qoTek, 
#app-mount .members-1998pB .content-OzHfo4 .offline-3qoTek {background-color: transparent;border:2px solid #747f8d}

.maskProfile-1ObLFT,.mask-3OgeRz {-webkit-mask: none;mask: none}
.status-oxiHuE,.statusProfile-3ynqtt.status-oxiHuE {border-radius:var(--round);box-shadow:none;-webkit-box-shadow:none}
#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp, #app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {left:-1px;background-color: rgba(0, 0, 0, 0.4);right: -0.5px}
#app-mount .title-3qD0b- .status-oxiHuE,#app-mount .friends-column-status .status,#app-mount .titleCall-_b9o8P .status-oxiHuE {position:relative}
#app-mount .container-2Thooq .status-2kJpnA,#app-mount .statusProfile-3ynqtt.status-oxiHuE {pointer-events: none}
.pulsingEllipsisItem-32hhWL {opacity: .9} 