#app-mount .member-3W1lQa {height:45px}
#app-mount .status{border:none}

#app-mount .members-1998pB .small-5Os1Bb {background-position: cover;height: 37px;width: 37px}

#app-mount .member-3W1lQa:hover .content-OzHfo4 .status-2s6iDp,#app-mount .member-3W1lQa .content-OzHfo4 .status-2s6iDp,
#app-mount .private-channels .channel .status,#app-mount .private-channels .channel:hover .status {border-color: transparent}

#app-mount .statusProfile-3ynqtt.status-oxiHuE {
    width:96%;height: 95%;right:0;bottom:0;padding:2px}
#app-mount .listRow-hutiT_ .status-oxiHuE, #app-mount .card-7JP0BX .status-oxiHuE,#app-mount .private-channels .status {
    width:88%;height: 88%;right: 0;bottom:0;padding:2px}
#app-mount .autocompleteRow-2OthDa .status-oxiHuE{
    width:82% ;height: 82%;right: 0;bottom: 0;padding: 2px}
#app-mount .members-1998pB .content-OzHfo4 .status-2s6iDp,
#app-mount .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp {
    bottom: 0;right: 0;height: 33px;width: 33px}
#app-mount .container-2Thooq .status-2kJpnA,.friend-2PO6ke .status{
    bottom: 0;right: 0;height: 30px;width: 30px}
#friends .friends-table .friends-row .friends-column-status .status {
    right:241px;bottom: 0;height: 30px;width: 30px}
#friends .friends-table .friends-column-name {padding-left:4px}
@media (max-width:1300px){#friends .friends-table .friends-column-name{width:200px !important}}
@media (max-width:1300px) {#friends .friends-table .friends-column-guilds{display:inline-flex !important }}

#friends .friends-table .friends-row .friends-column-status .online-2S838R,
#app-mount .friend-2PO6ke .online-2S838R,
#app-mount .autocompleteRow-2OthDa .online-2S838R, 
#app-mount .listRow-hutiT_ .online-2S838R,
#app-mount .card-7JP0BX .online-2S838R,
#app-mount .statusProfile-3ynqtt.online-2S838R,
#app-mount .private-channels .online-2S838R, 
#app-mount .container-2Thooq .online-2S838R,
#app-mount .members-1998pB .content-OzHfo4 .online-2S838R {background-color: transparent;box-shadow:0 0 5px 2px #43b581}

#friends .friends-table .friends-row .friends-column-status .streaming-2_dnHe,
#app-mount .friend-2PO6ke .streaming-2_dnHe,
#app-mount .autocompleteRow-2OthDa .streaming-2_dnHe, 
#app-mount .listRow-hutiT_ .streaming-2_dnHe,
#app-mount .card-7JP0BX .streaming-2_dnHe,
#app-mount .statusProfile-3ynqtt.streaming-2_dnHe,
#app-mount .private-channels .streaming-2_dnHe,
#app-mount .container-2Thooq .streaming-2_dnHe,
#app-mount .members-1998pB .content-OzHfo4 .streaming-2_dnHe {background-color: transparent;box-shadow:0 0 5px 2px #593695}

#friends .friends-table .friends-row .friends-column-status .dnd-1_xrcq,
#app-mount .friend-2PO6ke .dnd-1_xrcq,
#app-mount .autocompleteRow-2OthDa .dnd-1_xrcq, 
#app-mount .listRow-hutiT_ .dnd-1_xrcq,
#app-mount .card-7JP0BX .dnd-1_xrcq,
#app-mount .statusProfile-3ynqtt.dnd-1_xrcq,
#app-mount .private-channels .dnd-1_xrcq,
#app-mount .container-2Thooq .dnd-1_xrcq,
#app-mount .members-1998pB .content-OzHfo4 .dnd-1_xrcq {background-color: transparent;box-shadow:0 0 5px 2px #f04747}

#friends .friends-table .friends-row .friends-column-status .idle-3DEnRT,
#app-mount .friend-2PO6ke .idle-3DEnRT,
#app-mount .autocompleteRow-2OthDa .idle-3DEnRT, 
#app-mount .listRow-hutiT_ .idle-3DEnRT,
#app-mount .card-7JP0BX .idle-3DEnRT,
#app-mount .statusProfile-3ynqtt.idle-3DEnRT,
#app-mount .private-channels .idle-3DEnRT,
#app-mount .container-2Thooq .idle-3DEnRT,
#app-mount .members-1998pB .content-OzHfo4 .idle-3DEnRT {background-color: transparent;box-shadow:0 0 5px 2px #faa61a}

#friends .friends-table .friends-row .friends-column-status .invisible-1kp8Z0,
#app-mount .friend-2PO6ke .invisible-1kp8Z0,
#app-mount .autocompleteRow-2OthDa .invisible-1kp8Z0, 
#app-mount .listRow-hutiT_ .invisible-1kp8Z0,
#app-mount .card-7JP0BX .invisible-1kp8Z0,
#app-mount .statusProfile-3ynqtt.invisible-1kp8Z0,
#app-mount .private-channels .invisible-1kp8Z0,
#app-mount .container-2Thooq .invisible-1kp8Z0,
#app-mount .members-1998pB .content-OzHfo4 .invisible-1kp8Z0{background-color: transparent;box-shadow:0 0 5px 2px #1a36fa}

#friends .friends-table .friends-row .friends-column-status .offline-3qoTek,
#app-mount .friend-2PO6ke .offline-3qoTek,
#app-mount .autocompleteRow-2OthDa .offline-3qoTek, 
#app-mount .listRow-hutiT_ .offline-3qoTek, 
#app-mount .card-7JP0BX .offline-3qoTek, 
#app-mount .statusProfile-3ynqtt.offline-3qoTek, 
#app-mount .private-channels .offline-3qoTek, 
#app-mount .container-2Thooq .offline-3qoTek, 
#app-mount .members-1998pB .content-OzHfo4 .offline-3qoTek {background-color: transparent;box-shadow:0 0 5px 2px #747f8d}

#app-mount .maskProfile-1ObLFT,#app-mount .mask-3OgeRz {-webkit-mask: none;mask: none}
#app-mount .status {border-radius:var(--round);box-shadow:none;-webkit-box-shadow:none}
#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp, #app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {left:-1px;background-color: rgba(0, 0, 0, 0.4);right: -0.5px}
#app-mount .title-3qD0b- .status-oxiHuE,#app-mount .friends-column-status .status,#app-mount .titleCall-_b9o8P .status-oxiHuE {position:relative}
#app-mount .container-2Thooq .status-2kJpnA,#app-mount .statusProfile-3ynqtt.status-oxiHuE {pointer-events: none}
#app-mount .pulsingEllipsisItem-32hhWL {opacity: .9} 

#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp,
#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {animation: typing 1.5s linear infinite}
@keyframes typing { 50% {opacity: .4}}