.guildsWrapper-5TJh6A,.scrollerWrap-1IAIlv,.guilds-1q_RqH{transition: .5s ease !important}
.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv ::-webkit-scrollbar,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {display:none !important}
.guildsWrapper-5TJh6A:hover{width: 180px;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .scrollerWrap-1IAIlv{width: 200px;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH {display: flex;flex-flow: row wrap;padding-left: 0;align-content: flex-start;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ {margin-left: 8px;margin-top: 8px;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr::before {left: -2px;top: 5px;z-index:9000;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ:first-child {position: relative;left: 0;margin: auto;margin-top: 15px;transition: .6s ease}
.guildsWrapper-5TJh6A:hover #bd-pub-li {position: absolute; top: 90px; left: 60px;transition: .6s ease}
#bd-pub-li #bd-pub-button {position:absolute;width: 100%;text-align: center;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guildSeparator-1X4GQ1 {position: relative;width: 100%;margin-top: 10px;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .friendsOnline-_wi_fM {position: relative;width: 100%;margin: auto;margin-top: 5px;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ {position: relative;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .dms-rcsEnV {width: 100%;display: flex;flex-flow: row wrap;transition: .6s ease}
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {left: 0;transition: .6s ease}