//META{"name":"RadialStatus","description":"Radial member status on hover. Please use the support server listed below if you need any help.","author":"Satoru","version":"1","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://satoru8.github.io/Addons/RadialStatus.css);

:root {--round: 50%} /* 10% Square, 50% Circle */