//META{"name":"RadialStatus","description":"Radial member status on hover.","author":"Satoru","version":"1"}*//{}


:root{--round: 50%}

.members-1998pB .content-OzHfo4 .status-2s6iDp {transition: all 150ms ease;will-change: border-color, width, background, height, padding;}

.userPopout-3XzG_A:hover .statusProfile-3ynqtt {
    width:100% !important;
    background: transparent;
    border-radius: inherit;
    height: 100%;right: -2px !important;
	bottom: -2px;padding: 2px;
	transition: all 150ms ease;
	border-width: 2px  !important;margin: 0;}
.members-1998pB .content-OzHfo4:hover .status-2s6iDp,
.members-1998pB .member-3W1lQa.popout-open .status-2s6iDp {
    border-radius: var(--round);
    background-color: transparent;transition: 0.2s;
    background-clip: padding-box;
    bottom: -1px;height: 28px !important;
    right: -1px;width: 28px !important;	}

.members-1998pB .content-OzHfo4:hover .online-2S838R,.members-1998pB .member-3W1lQa.popout-open .online-2S838R {border: 2px solid #43b581 !important;transition: 0.1s;}
.members-1998pB .content-OzHfo4:hover .streaming-2_dnHe,.members-1998pB .member-3W1lQa.popout-open .streaming-2_dnHe{border: 2px solid #593695 !important;transition: 0.1s;}
.members-1998pB .content-OzHfo4:hover .dnd-1_xrcq,.members-1998pB .member-3W1lQa.popout-open .dnd-1_xrcq{border: 2px solid #f04747 !important;transition: 0.1s;}
.members-1998pB .content-OzHfo4:hover .idle-3DEnRT,.members-1998pB .member-3W1lQa.popout-open .idle-3DEnRT{border: 2px solid #faa61a !important;transition: 0.1s;}