.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC {width:var(--size);height:var(--size);left:4px}
.wrapper-1Rf91z .scroller-2TZvBN .guildIcon-VlWW86,.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf a,.guildsError-3cFMtY {width:var(--size);height:var(--size)}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:before,.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.unread-2OHH1w:before {left: -20px}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf,.noIcon-1a_FrS.iconSizeLarge-161qtT{line-height: 40px}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .badge-1GsMF2 {bottom: -6px;right: -6px;padding:2px 5px}
.wrapper-1Rf91z .scroller-2TZvBN .friends-icon {height:var(--size);width: var(--size)}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf, .wrapper-1Rf91z .scroller-2TZvBN .guildIcon-VlWW86,.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .badge-1GsMF2,.guildsError-3cFMtY {border-radius: var(--round)!important}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .avatar-small {background-repeat: no-repeat;background-size: var(--size) var(--size);height: var(--size);width: var(--size)}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {padding: 10px}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf{background: transparent}
.wrapper-1Rf91z .guildSeparator-3s64Iy:after{display:none}
.plus-3UqSQu {top: -4px}
.guildsError-3cFMtY {line-height:30px}