//META{"name":"Starter Theme","description":"Basic full transparency with a layer to adjust brightness/colour. Some standard menus left unthemed for you to start with.","author":"Satoru","version":"1.0","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://tinyurl.com/ybvv6uoe);  /* Import your rawgit link here */

:root {
    --background: url(https://images4.alphacoders.com/668/668521.jpg);  /*Wallpaper.*/
    --font-size: 15px ;
	--text:  #fff;}