#app-mount .container-2Rl01u {text-align: center;left: inherit}
#app-mount .channels-Ie2l6A:hover, #app-mount .guildsWrapper-5TJh6A:hover + div .channels-Ie2l6A {left: 70px;opacity: 1;transition: all .4s ease;z-index:1000}
#app-mount .channels-Ie2l6A {height:98%;left:-240px;transition: all .4s ease;position:absolute;opacity:0;z-index:10}