//META{"name":"Large Emoji Picker","description":"A larger emoji picker. Adjustable size.","author":"Satoru","version":"1.0","website":"http://discord.gg/fjvwb95"}*//{}

@import url('https://satoru8.github.io/Addons/Emoji/emojipicker.css.css');

:root {
/* 
	You can change the size here. 
	I suggest you leave these default.
*/
    --epHeight: 400px ;
    --epWidth: 450px ;

    --epItemW: 8.5% ; /* Only change this if you know what you are doing. */
}